@model NamelessWeb.Views.ViewModels.GuitarViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.indent-1 {
    float: left;
}

.indent-1 section {
    width: 50%;
    float: left;
}*/
    /*Create two equal columns that floats next to each other*/
    /*.column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration 
    }

    Clear floats after the columns 
    .row:after {
        content: "";
        display: table;
        clear: both;
    }*/
</style>
</head>
<body>

    @using (Html.BeginForm("Create", "Guitar"))
    {
        <hr/>
        <div class="form-group">
            <div style="left: auto" , class="form-group">
                @Html.Label("GuitarID:")
                @Html.LabelFor(m => m.GuitarId, new {@class="form-control"})
            </div>
            @*<section class="indent-1">*@
            <div style="left: auto" , class="form-group">
                @Html.Label("Model:")
                @Html.TextBoxFor(m => m.GuitarModel, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.GuitarModel)
            </div>
            <div style="left: auto" class="form-group">
                @Html.Label("Brand:")
                @Html.DropDownListFor(m => m.BrandId, new SelectList(Model.BrandIds, "BrandId", "BrandName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.BrandId)
            </div>
            <div style="left: auto" , class="form-group">
                @Html.Label("Type:")
                @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.TypeIds, "TypeId", "TypeName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.TypeId)
                <!-- Trigger/Open The Modal -->
                @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                <!-- Modal -->
                @*<div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">*@
                <!-- Modal content-->
                @*<div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>*@
                @*</div>*@
            </div>
            @*</section>
                <section>*@
            @*<div class="row">
                <div class="column">*@
            <div style="left: auto" , class="form-group">
                @Html.LabelFor(m => m.Top)
                @Html.DropDownListFor(m => m.Top, new SelectList(Model.Tops, "TopId", "TopName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m=>m.Top)
                <!-- Trigger/Open The Modal -->
                <button id="topBtn">New Top</button>
            </div>
            <div style="right: auto" , class="form-group">
                @Html.LabelFor(m => m.Side)
                @Html.DropDownListFor(m => m.Side, new SelectList(Model.Sides, "SideId", "SideName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Side)
                <!-- Trigger/Open The Modal -->
                <button id="SideBtn">New Side</button>
            </div>
            <div style="right: auto" , class="form-group">
                @Html.LabelFor(m => m.Neck)
                @Html.DropDownListFor(m => m.Neck, new SelectList(Model.Necks, "NeckId", "NeckName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Neck)
                <!-- Trigger/Open The Modal -->
                <button id="NeckBtn">New Neck</button>
            </div>
            <div style="right: auto" , class="form-group">
                @Html.LabelFor(m => m.Fing)
                @Html.DropDownListFor(m => m.Fing, new SelectList(Model.Fings, "FingId", "FingName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Fing)
                <!-- Trigger/Open The Modal -->
                <button id="FingBtn">New Fing</button>
            </div>
            <div style="right: auto" , class="form-group">
                @Html.LabelFor(m => m.Back)
                @Html.DropDownListFor(m => m.Back, new SelectList(Model.Backs, "BackId", "BackName"), new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Back)
                <!-- Trigger/Open The Modal -->
                <button id="BackBtn">New Back</button>
            </div>
            @*</div>
                <div class="column">*@
            <div style="left: auto" , class="form-group">
                @Html.Label("MSRP:")
                @Html.TextBoxFor(m => m.Price, new {@class = "form-control"})
                @*@Html.ValidationMessageFor(m => m.Price)*@
            </div>
            <div style="left: auto" , class="form-group">
                @Html.Label("Warranty:")
                @Html.DropDownListFor(m => m.Insurance, new SelectList(Model.Insurances, "WarrId", "WarrLength"), new {@class = "form-control"})
                @*@Html.ValidationMessageFor(m => m.Insurance)*@
            </div>
            <div style="left: auto" , class="form-group">
                @Html.Label("Electric equiped:")
                @Html.RadioButtonFor(m => m.Electricfied, new {@class = "form-control"}) yes
                @Html.RadioButtonFor(m => m.Electricfied, new {@class = "form-control"}) no
            </div>
            <div style="left: auto",class="form-group">
                @Html.Label("Description:")
                @Html.TextAreaFor(m=>m.Description, new {@class = "form-control"})
            </div>
            @*</div>
                </div>*@
            @*</section>*@
            <div style="left: auto",class="form-group">
                @Html.Label("Image Link:")
                @Html.TextBoxFor(m => m.ImageLink, new { @class = "form-control" })
            </div>
        </div>
        <button type="submit" value="Save" class="btn btn-primary">Save</button>
    }

</body>
</html>


