@model NamelessWeb.Views.ViewModels.GuitarViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Are you sure you want to delete this?</h1>
<div>
    <hr />
    <div id="detailsForm">
        <h2 style="color:black; font-weight:100">
            @Html.DisplayFor(model => model.BrandName) @Html.DisplayFor(model => model.GuitarModel)
        </h2>
            
        <div>

            <hr />
            <img src="@Url.Content("~/Content/Img/guitar/" + Model.ImageLink)" style="max-height: 350px; background-position-x:center;">
            <dl class="dl-horizontal" style="color:black; font-weight:100; font-size:22px">

                <dt>
                    Body Type:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TypeName)
                </dd>

                <dt>
                    Price:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Warranty:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InsuranceName)
                </dd>

                <dt>
                    Electrified:
                </dt>

                <dd>
                    @(Model.Electricfied ? "Yes" : "No")
                </dd>
                <hr />
                <dt>
                    Specification
                </dt>
                <dd>
                </dd>
                <dt>
                    Top wood:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TopName)
                </dd>

                <dt>
                    Side Wood:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SideName)
                </dd>

                <dt>
                    Back Wood:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BackName)
                </dd>

                <dt>
                    Neck Wood:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NeckName)
                </dd>

                <dt>
                    FretBoard:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FingsName)
                </dd>

                <dt>
                    Description
                </dt>
                <dd>
                    @Html.DisplayTextFor(model => model.Description)
                </dd>


            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", "Home")
            </div>
        }
    </div>
</div>
