@model NamelessWeb.Views.ViewModels.GuitarViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<br/>
<<<<<<< HEAD

    <h2>Details</h2>
@using (Html.BeginForm())
{
    <div id="detailsForm" >
        <h4>Guitars</h4>
        <hr />
        <img src="@Url.Content("~/Content/Img/slides/" + Model.ImageLink)" style="max-height: 100px">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GuitarModel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GuitarModel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrandId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrandName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Insurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Insurance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Electricfied)
            </dt>

            <dd>
                @(Model.Electricfied ? "Yes" : "No")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Top)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Top)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Side)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Side)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Back)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Back)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neck)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neck)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        
        <!-- Trigger the modal with a button -->
        <button type="submit" value="Submit" class="btn btn-info btn-lg btn-success" data-toggle="modal" data-target="#myModal" id="btnDisplay">Order</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Order Successful</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        @*<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Order</a>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Oder</h3>

                    </div>
                    <div class="modal-body">
                        Order Success
                    </div>
                    <div class="modal-footer">
                        <a href="#" value="Submit" class="btn btn-success" data-dismiss="modal">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}
=======
<h2 style="color:black; font-weight:100"> @Html.DisplayFor(model => model.BrandName) @Html.DisplayFor(model => model.GuitarModel)
    </h2>

<div>
    
    <hr />
    <img src="@Url.Content("~/Content/Img/guitar/" + Model.ImageLink)" style="max-height: 350px; background-position-x:center;">
    <dl class="dl-horizontal" style="color:black; font-weight:100; font-size:22px">

        <dt>
            Body Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Warranty:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceName)
        </dd>

        <dt>
            Electrified:
        </dt>

        <dd>
            @(Model.Electricfied ? "Yes" : "No")
        </dd>
        <hr />
        <dt>
            Specification
        </dt>
        <dd>        
        </dd>
        <dt>
           Top wood:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopName)
        </dd>

        <dt>
            Side Wood:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideName)
        </dd>

        <dt>
            Back Wood:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackName)
        </dd>

        <dt>
            Neck Wood:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeckName)
        </dd>

        <dt>
            FretBoard:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FingsName)
        </dd>
        
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Description)
        </dd>
       
       
    </dl>
</div>
>>>>>>> a281543a832c3be96e1b2a1dbe9e09493e4c9553
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuitarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<script>
    //$(document).ready(function() {
    //    $("#btnSubmit").click(function() {
    //        var myformData = $("#detailsForm").serialize();
    //        $.ajax({
    //            type: "POST",
    //            url:"/Guitar/Details",
    //            data: myformData,
    //            success: function() {
    //                $("#myModal").modal("hide");
    //            }
    //        })
    //    })
    //})
    //var x =
    //if () {
          
    //}
    //openDatabase()
</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
