@model IEnumerable<NamelessWeb.Models.Guitar.Guitars>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hyper {
        color: aliceblue;
    }
</style>
<h2 style="color:aliceblue">List</h2 >

<p>
    <button class="btn" style="padding-right:20px;">
        @Html.ActionLink("Create New", "Create","Guitar")
    </button>
</p>
<table class="table" style="color:aliceblue">
    <tr style="color:aliceblue">
        <th>
            @Html.DisplayNameFor(model => model.MDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ELE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:aliceblue">
        <td>
            @Html.DisplayFor(modelItem => item.MDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ELE)
        </td>
        <td>
            @if (item.ImageLink1 != "")
            {
                <img src="@Url.Content(item.ImageLink1)" style="max-height: 100px" />
            }
            
        </td>
        <td>
            <div class="action">
                <button >@Html.ActionLink("Edit", "Edit", "Guitar", new { id = item.GuitarId }, null)</button>
                <button >@Html.ActionLink("Details", "Details", "Guitar", new { id = item.GuitarId }, null)</button>
                <button >@Html.ActionLink("Delete", "Delete", "Guitar", new { id = item.GuitarId }, null)</button> 
            </div>
        </td>
    </tr>
}

</table>
