@model System.Data.DataTable
@{
    ViewBag.Title = "Clist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="container body-content">
                <h2>Clist</h2>


                @if (Model != null)
                {
                    <table class="table">
                        <tr>
                            <th width="20%">
                                Product
                            </th>
                            <th width="10%">
                                Bill no.
                            </th>
                            <th width="40%">
                                Customer Information
                            </th>

                            <th width="30%">
                                Employee Information
                            </th>
                            <th>

                            </th>
                        </tr>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>
                                <td>

                                    @if (@Model.Rows[i][2].ToString() != null)
                                    {
                                        <img src="@Model.Rows[i][0].ToString()" style="max-height: 100px" />
                                    }

                                </td>
                                <td>
                                    <div>
                                        @Model.Rows[i][1].ToString()
                                    </div>
                                    <div>
                                        @Model.Rows[i][2].ToString()
                                    </div>
                                </td>
                                <td>
                                    @Model.Rows[i][3].ToString()
                                    <br />
                                    <p>
                                        @Model.Rows[i][4].ToString()
                                    </p>
                                    <br />
                                    @Model.Rows[i][5].ToString()

                                </td>
                                <td>
                                    @Model.Rows[i][6].ToString()
                                    <br />
                                    @Model.Rows[i][7].ToString()
                                </td>
                                <td>
                                    @if (Model.Rows[i][9].ToString() == "1")
                                    {<button>@Html.ActionLink("Edit FeedBack", "Update", "Export", new { id = int.Parse((Model.Rows[i][8]).ToString()) }, null)</button>}
                                    @if (Model.Rows[i][9].ToString() == "0")
                                    {<button>@Html.ActionLink("FeedBack", "Rating", "Export", new { id = int.Parse((Model.Rows[i][8]).ToString()) }, null)</button>}
                                </td>

                            </tr>
                        }
                    </table>
                }
                @if(Model==null)
                {
                    <h2>You have not made any Purchase yet.</h2>
                }
            </div>
        </div>
    </div>
</div>

