@model NamelessWeb.Models.Guitar.Wood.GoNeck
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <h2 >New Neck</h2>
                <body>
                    @using (Html.BeginForm("NewNeck", "NewTypes", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
                    {
                        <div class="form-group">
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Neck Id:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.NeckId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NeckId, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Neck:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.NeckName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NeckName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn" style="padding-right:20px;">
                                    @Html.ActionLink("Back", "Create", "Guitar")
                                </button>
                                <button type="submit" value="Save" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    }
                </body>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") ;
}

