@model NamelessWeb.Models.Company.Supplier
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <h2>New Supplier</h2>
                <body>
                    @using (Html.BeginForm("NewSupplier", "NewTypes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            <div style="left: auto" , class="form-group">
                                @Html.Label("ID:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppId, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppName, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Email:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppEmail, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Phone Number:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppPhone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppPhone, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Web:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppWeb, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppWeb, "", new { @class = "text-danger" })
                            </div>
                            <div style="left: auto" , class="form-group">
                                @Html.Label("Address:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.SuppAddr, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SuppAddr, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn" style="padding-right:20px;">
                                    @Html.ActionLink("Back", "NewBrand", "NewTypes")
                                </button>
                                <button type="submit" value="Save" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    }
                </body>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") ;
}
