
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2  style="color:aliceblue">Create Role</h2>
<button class="btn" style="padding-right:20px;">
    @Html.ActionLink("List Roles", "Index")</button> | <button class="btn" style="padding-right:20px;">
    @Html.ActionLink("Manage User Role", "ManageUserRoles") </button>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div style="color:aliceblue">
            Role name
        </div>
        <p>
            @Html.TextBox("RoleName")
        </p>
        <input type="submit" value="Save" />
    }
