
@{
    ViewBag.Title = "ManageUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 color:aliceblue">Manage User Roles</h2>
<div style="color:aliceblue">
    <button class="btn" style="padding-right:20px;">@Html.ActionLink("Create New Role", "Create")</button> | <button class="btn" style="padding-right:20px;">
        @Html.ActionLink("Manage User Role", "ManageUserRoles")
    </button>
</div>

<hr />

<h2 style="color:aliceblue">Add Role To User</h2>

@using (Html.BeginForm("RoleAddToUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p style="color:aliceblue">
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Save" />
}
<hr />
<h3 style="color:aliceblue">Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Role"))
{
    @Html.AntiForgeryToken()
    <p style="color:aliceblue">
        Username : @Html.TextBox("UserName")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3 style="color: aliceblue">Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p style="color: aliceblue">
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Delete this user from Role" />
}

