@model IList<NamelessWeb.Models.BangPhanCongViewModel>
@{
    /**/

    ViewBag.Title = "BangPhanCongCongViec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BangPhanCongCongViec</h2>
@using (Html.BeginForm("BangPhanCongCongViec","BangPhanCongCongViec"))
{
    for(int i=0;i<Model.Count();i++)
    {
        <h2>@Html.DisplayFor(m =>Model[i].userName)</h2>
        @Html.HiddenFor(m => Model[i].idBangPhanCong)
        @Html.HiddenFor(m => Model[i].idUser)
        //Lịch sáng
        <h3>Morning</h3>
        <table class="table">
            <th><h5>Monday</h5></th>
            <th><h5>Tuesday</h5></th>
            <th><h5>Wednesday</h5></th>
            <th><h5>Thursday</h5></th>
            <th><h5>Friday</h5></th>
            <th><h5>Saturday</h5></th>
            <th><h5>Sunday</h5></th>
            <table class="table">
                <td>@Html.DisplayFor(m => Model[i].sang2)</td>
                <td>@Html.DisplayFor(m => Model[i].sang3)</td>
                <td>@Html.DisplayFor(m => Model[i].sang4)</td>
                <td>@Html.DisplayFor(m => Model[i].sang5)</td>
                <td>@Html.DisplayFor(m => Model[i].sang6)</td>
                <td>@Html.DisplayFor(m => Model[i].sang7)</td>
                <td>@Html.DisplayFor(m => Model[i].sangCN)</td>
            </table>
        </table>
        //Lịch chiều
        <h3>Afternoon</h3>
        <table class="table">
            <th><h5>Monday</h5></th>
            <th><h5>Tuesday</h5></th>
            <th><h5>Wednesday</h5></th>
            <th><h5>Thursday</h5></th>
            <th><h5>Friday</h5></th>
            <th><h5>Saturday</h5></th>
            <th><h5>Sunday</h5></th>
            <table class="table">
                <td>@Html.DisplayFor(m => Model[i].chieu2)</td>
                <td>@Html.DisplayFor(m => Model[i].chieu3)</td>
                <td>@Html.DisplayFor(m => Model[i].chieu4)</td>
                <td>@Html.DisplayFor(m => Model[i].chieu5)</td>
                <td>@Html.DisplayFor(m => Model[i].chieu6)</td>
                <td>@Html.DisplayFor(m => Model[i].chieu7)</td>
                <td>@Html.DisplayFor(m => Model[i].chieuCN)</td>
            </table>
        </table>
        <table class="table">
            <td>@Html.CheckBoxFor(m => Model[i].thu2)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thu3)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thu4)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thu5)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thu6)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thu7)</td>
            <td>@Html.CheckBoxFor(m => Model[i].thuCN)</td>
        </table>
    }
    <button type="submit" value="Confirm" >Save</button>
}

