<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless Guitar Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
 <body style="background-color:dimgrey">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand" rel="home" href="#" title="No music No life">
                            <img style="max-width:100px;"src="~/Content/Img/nameless brand.png"/>
                        </div>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" style="padding-top:20px;">
                            <li> <button class="btn" style="padding-right:20px;">@Html.ActionLink("Home", "Index", "Home") </button></li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-toggle="dropdown" style="color:cornflowerblue;padding-right:20px;" >
                                        Guitar<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>Morris</li>
                                        <li>Yamaha</li>
                                        <li>Suzuki</li>
                                        <li>Others</li>
                                    </ul>
                                </div>
                            </li>
                            <li> <button class="btn" style="padding-right:20px;">@Html.ActionLink("About", "About", "Home")</button></li>
                            <li> <button class="btn"style="padding-right:20px;">@Html.ActionLink("Contact", "Contact", "Home")</button></li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                  </div>
                    
               </div>
     <div class="container body-content">
         <p class="bottom-three">
             @RenderBody()
             <hr />


             <footer>
                <p style="color:aliceblue">&copy; @DateTime.Now.Year - Nameless Guitar Inc.</p>
            </footer>
     </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
