<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless Guitar Inc.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
 <body style="background-color:dimgrey">
            <div class="navbar navbar-inverse" >
                <div class="container">
                    <img src="~/Content/Img/14324639_1827253130838647_1699345684361355571_o.jpg" style="max-height: 390px" rel="home" href="#" title="No music No life"/>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" style="padding-top:20px;">
                            <li> <button class="btn" style="padding-right:20px;">@Html.ActionLink("Home", "Index", "Home") </button></li>
                            @*<li>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-toggle="dropdown" style="color:cornflowerblue;padding-right:20px;" >
                                        Guitar<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>Morris</li>
                                        <li>Yamaha</li>
                                        <li>Suzuki</li>
                                        <li>Others</li>
                                    </ul>
                                </div>
                            </li>*@
                            <li> <button class="btn" style="padding-right:20px;">@Html.ActionLink("About", "About", "Home")</button></li>
                            <li> <button class="btn"style="padding-right:20px;">@Html.ActionLink("Contact", "Contact", "Home")</button></li>
                            @*<li>
                                <div class="dropdown">
                                    <button class="btn" type="button" data-toggle="dropdown" style="color:cornflowerblue;padding-right:20px;">
                                        New Types<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("New Top","NewTop","NewTypes")</li>
                                        <li>@Html.ActionLink("New Neck", "NewNeck", "NewTypes")</li>
                                        <li>@Html.ActionLink("New Back", "NewBack", "NewTypes")</li>
                                        <li>@Html.ActionLink("New Side", "NewSide", "NewTypes")</li>
                                        <li>@Html.ActionLink("New Fing", "NewFing", "NewTypes")</li>
                                    </ul>
                                </div>
                            </li>*@
                        </ul>
                        @{Html.RenderPartial("_LoginPartial");}  
                    </div>
                  </div>
                    
               </div>
     <div class="container body-content">
         <hr />
         <hr />
         <p class="bottom-three ">
             @RenderBody()
             


             <footer>
                <p style="color:aliceblue">&copy; @DateTime.Now.Year - Nameless Guitar Inc.</p>
            </footer>
     </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
